@model eBooks_MVC.Models.AutorViewModel


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Detalii Autor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Nume autor -->
        <div class="form-group">
            @Html.LabelFor(model => model.nume_autor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nume_autor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nume_autor, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Data nasterii -->
        <div class="form-group">
            @Html.LabelFor(model => model.data_nasterii, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.data_nasterii, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.data_nasterii, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Tara origine -->
        <div class="form-group">
            @Html.LabelFor(model => model.tara_origine, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tara_origine, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tara_origine, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Activ -->
        <div class="form-group">
            @Html.LabelFor(model => model.activ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 checkbox">
                @Html.CheckBoxFor(model => model.activ)
                @Html.ValidationMessageFor(model => model.activ, "", new { @class = "text-danger" })
            </div>
        </div>

        <!-- Buton creare -->
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salveaza" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Inapoi la lista", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
