@model eBooks_MVC.Models.Api.AutorApiModel

@{
    ViewBag.Title = "Sterge autor";
}

<h2>Confirma stergerea</h2>

<div>
    <h4>@Model.nume_autor</h4>
    <p>Tara: @Model.tara_origine</p>
    <p>Data nasterii: @Model.data_nasterii</p>
</div>

@using (Html.BeginForm("DeleteConfirmed", "AutoriApi", new { id = Model.id_autor }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <p>Sigur vrei sa stergi acest autor?</p>

    <input type="submit" value="Da, sterge" class="btn btn-danger" />
    @Html.ActionLink("Anuleaza", "Index", null, new { @class = "btn btn-default" })
}
