@model IEnumerable<eBooks_MVC.Models.Api.AutorApiModel>

@{
    ViewBag.Title = "Lista autorilor (API)";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Adauga autor nou", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nume autor</th>
            <th>Tara</th>
            <th>Data nasterii</th>
            <th>Actiuni</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var autor in Model)
        {
            <tr>
                <td>@autor.nume_autor</td>
                <td>@autor.tara_origine</td>
                <td>@autor.data_nasterii</td>

                <td>
                    @Html.ActionLink("Editeaza", "Edit", new { id = autor.id_autor }, new { @class = "btn btn-warning btn-sm" })
                    @Html.Raw(" ")
                    @Html.ActionLink("Sterge", "Delete", new { id = autor.id_autor }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
